/*--------------------------------------
|	             GENERAL			   |
----------------------------------------*/
* {
	-webkit-font-smoothing: antialiased; /* Safari */
	-moz-osx-font-smoothing: grayscale; /* Safari */
	box-sizing: border-box;
}


body{
	cursor: default;
	background-color: rgb(42, 42, 42);
  	color: white;
	
}

h1{
    text-align: center;
	font-family: Georgia, serif;
	color: #e06c29;  /* fallback for old browsers */
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

strong{
	text-align: center;
	font-family: Georgia, serif;
}

a {
	position: relative;
	color: rgb(211, 187, 187);
	text-decoration: none;
}
  
a:hover {
	transition: 0.5s;
	color: rgb(117, 107, 107);
}

a::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: rgb(117, 107, 107);
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

a:hover::before {
	transform: scaleX(1);
}

/*--------------------------------------
|	             NAVBAR				   |
----------------------------------------*/
.navbar {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	z-index: 1;
}

.navbar li {
 	float: left;
}
.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 18px;
}
.navbar li a:hover {
	transition: 1s;
	background-color: #111;
	filter: blur(0px);
	-webkit-filter: blur(0px); /* Safari */
}


/*--------------------------------------
|	            Box linguaggi	       |
----------------------------------------*/
.container {
    max-width: 800px;
    margin: auto;
    margin-top: 200px;
    text-align: center;
}

.container h1 {
    padding: 10px;
}

.container .item {
    height: 400px;
    width: 300px;
    margin: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: auto;
    margin-top: 50px;
    opacity: 0.8;
    transition: 0.5s;

} 

.container .item:hover {
    height: 400px;
    width: 300px;
    margin: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: auto;
    margin-top: 50px;
    opacity: 1;
    transition: 0.5s;
} 


/*--------------------------------------
|	            Argomenti			   |
----------------------------------------*/
.argomenti h2{
    text-align: center;
	font-family: Georgia, serif;
	color: #7d5feb;  /* fallback for old browsers */
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


/*--------------------------------------
|	            pdf      			   |
----------------------------------------*/
.pdf {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 800px;
}


/*--------------------------------------
|	            Torna su			   |
----------------------------------------*/
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 1;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #333;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
	opacity: 0.8;
	height: 50px;
}
  
#myBtn:hover {
	opacity: 1;
	background-color: #555;
}


/*--------------------------------------
|	              Footer			   |
----------------------------------------*/
footer{
	height: 180px;	
	bottom: 0px;
	width: 100%;
	background-color: #333;
	color: white;
	text-align: center;
	position: static;
	margin-top: 300px;
	z-index: 1;
}
footer img{
    width: 310x;
	transition: 0.5s;
	opacity: 0.5;
	position: relative;
	max-width: 100%;
	height: auto;
}
footer img:hover{
	transition: 0.5s;
	opacity: 1;
}
footer a {
    color: aliceblue;
    text-decoration-color: rgb(217, 105, 7);
    text-decoration-thickness: 2px;
    transition: 0.5s;
}
footer a:hover {
    color: grey;
    transition: 0.5s;
}

footer table {
    margin-top: 15px;
}

footer table th {
    border: none; 
    width: 60px;
    padding-left: 20px;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
	
  }


/*--------------------------------------
|	   Visualizzazione da telefono	   |
----------------------------------------*/
@media only screen and (max-width: 720px) {
	#wakatime_figure {
		width: 500px;
		height: 500px;
	}
}

@media only screen and (max-width: 620px) {
	/* For mobile phones: */
	footer, table{
	  	position: static;
	}
	li a{
	  	padding: 2px, 2px;
	}
	#imageGallery{
		width: 250px;
	}
	.tab, .tabcontent{
		width: 400px;
	}

	#wakatime_figure {
		width: 400px;
		height: 400px;
	}

}
@media only screen and (max-width: 436px) {
	/* For mobile phones: */
	#fingerprint{
		display: none;
	}
	#imageGallery{
		width: 220px;
	}
	.tab, .tabcontent{
		width: 350px;
	}
	#wakatime_figure {
		width: 350px;
		height: 350px;
	}
	#wakatime_figure embed {
		border-radius: 10px;
	}
}
@media only screen and (max-width: 376px) {
	/* For mobile phones: */
	#school{
		display: none;
	}
	#imageGallery{
		width: 200px;
	}
	.tab, .tabcontent{
		width: 300px;
	}

	#wakatime_figure {
		width: 270px;
		height: 270px;
	}
	#wakatime_figure embed {
		border-radius: 7px;
	}
}