---
import discordIcon from "@/assets/logo/discord.png";
import linkedinIcon from "@/assets/logo/l3.png";
import githubIcon from "@/assets/logo/github.png";
import mailIcon from "@/assets/logo/mail.png";
---

<footer class="my-20">
  <div class="flex flex-col items-center space-y-4">
    <!-- Social links -->
    <div class="flex space-x-6">
      <a href="https://discordapp.com/invite/9Jb4Gt3HhB" target="_blank" aria-label="Discord">
        <img src={discordIcon.src} alt="discord server" class="h-10 w-10"/>
      </a>
      <a href="https://www.linkedin.com/in/dennis-turco-751239232/" target="_blank" aria-label="LinkedIn">
        <img src={linkedinIcon.src} alt="linkedin profile" class="h-10 w-10"/>
      </a>
      <a href="https://github.com/DennisTurco" target="_blank" aria-label="GitHub">
        <img src={githubIcon.src} alt="github profile" class="h-10 w-10"/>
      </a>
      <a href="mailto:dennisturco@gmail.com" target="_blank" aria-label="Email">
        <img src={mailIcon.src} alt="mail" class="h-10 w-10"/>
      </a>
    </div>

    <!-- Copyright -->
    <p class="text-center text-sm text-slate-500">
      Copyright © 2022 - 2025 Dennis Turco. All rights reserved.
    </p>
  </div>
</footer>