---
import { Picture } from "astro:assets";
import heroImage from "@/assets/logo/logo.png";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 gap-8">
  <!-- Immagine -->
  <div class="py-6 md:order-1 hidden md:block max-w-[280px] mx-auto">
    <Picture
      src={heroImage}
      alt="Logo Imparare Facile"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 280px"
      loading="eager"
      format="avif"
      class="w-full h-auto rounded-lg"
    />
  </div>

  <!-- Testo principale -->
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Imparare Facile
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      ImparareFacile è il sito degli appunti pensato per tutti i miei studenti e non solo! Dove carico appunti utili di matematica e informatica, con esercizi. Ci tengo a precisare che il sito non è completo,
      aggiungo le parti mancanti solamente nel caso in cui vi è una richiesta. Nel caso non esitate a <a href="/ImparareFacile/contact" class="text-blue-600 font-semibold underline hover:text-blue-800">
      contattarmi</a>!
    </p>
  </div>
</main>

</section>
