---
import Card from "./card.astro";
import mateIcon from "@/assets/logo/matematica.png";
import infoIcon from "@/assets/logo/informatica.png";
---

<Card class="bg-gradient-to-r from-blue-100 to-blue-200 border border-blue-300 p-6 rounded-xl shadow-lg flex flex-col md:flex-row items-center gap-4">
  <!-- Testo -->
  <div class="text-center md:text-left">
    <p class="text-lg font-medium text-gray-800">
      I video lezioni vengono erogati solo su richiesta.
      Se sei interessato contattami!</a>
    </p>
  </div>
</Card>
