---
import { SEO } from "astro-seo";
import Footer from "@/components/footer.astro";
import Navbar from "@/components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";
import "../styles/global.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "ImparareFacile"
  : "ImparareFacile";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/ImparareFacile/assets/logo/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"/>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GSE1MKHYSG"></script>
    <script>
      const gtag: any = (...args: any[]) => {
        (window as any).dataLayer.push(args);
      };
      (window as any).dataLayer = (window as any).dataLayer || [];
      gtag('js', new Date());
      gtag('config', 'G-GSE1MKHYSG');
    </script>

    <!-- Copy code to clipboard -->
    <script>
      let copyButtonLabel = "Copia il Codice";

      // seleziona tutti i blocchi Astro-code
      let codeBlocks = Array.from(document.querySelectorAll("div.astro-code"));

      for (let block of codeBlocks) {
        let codeEl = block.querySelector("code");
        if (!codeEl) continue;

        // salta se è un mermaid
        if (codeEl.className.toLowerCase().includes("mermaid")) continue;

        console.log("das")

        let wrapper = document.createElement("div");
        wrapper.style.position = "relative";

        let copyButton = document.createElement("button");
        copyButton.className = "copy-code";
        copyButton.innerText = copyButtonLabel;

        let preEl = block.querySelector("pre") || codeEl;
        preEl.setAttribute("tabindex", "0");

        if (block.parentNode == null) continue;

        block.parentNode.insertBefore(wrapper, block);
        wrapper.appendChild(block);
        wrapper.appendChild(copyButton);

        copyButton.addEventListener("click", async () => {
          let text = codeEl.innerText;
          await navigator.clipboard.writeText(text);
          copyButton.innerText = "Codice Copiato";
          setTimeout(() => (copyButton.innerText = copyButtonLabel), 700);
        });
      }
    </script>


    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="ImparareFacile è un sito dove vengono caricati gli appunti per gli studenti delle superiori e dell'università"
      canonical={canonicalURL}
      twitter={{
        creator: "@surjithctly",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `ImparareFacile`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "ImparareFacile Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>